.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.matrix-size {
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

.slider {
  margin-bottom: 16px;
}

.matrix {
  border: 1px solid black;
  float: left;
  margin-bottom: 16px;
}

.row {
  list-style: none;
  display: flex;
}

.cell {
  border: 1px solid black;
  padding: 4px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
}
